@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.css-13cymwt-control {
  border-color: transparent !important;
  padding: 0 !important;
  outline: none !important;
  box-shadow: none !important;
}

.css-t3ipsp-control {
  border-color: transparent !important;
  padding: 0 !important;
  outline: none !important;
  box-shadow: none !important;
}
